* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: DejaVuSansM Nerd Font, FontAwesome, sans-serif;
    font-size: 16px;
    font-weight: Bold;
    border-radius: 4px;
    padding: 0px;
    margin: 0px;
}

window#waybar {
    background-color: #1E1E2E; /* Base */
    border-bottom: 0px solid #585B70; /* Surface2 */
    color: #CDD6F4; /* Text */
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #CDD6F4; /* Text */
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #CDD6F4; /* Text */
}

#workspaces button:hover {
    background: rgba(205, 214, 244, 0.2); /* Text with opacity */
}

#workspaces button.focused {
    background-color: #585B70; /* Surface2 */
    box-shadow: inset 0 -3px #CDD6F4; /* Text */
}

#workspaces button.urgent {
    background-color: #F38BA8; /* Red */
}

#mode {
    background-color: #585B70; /* Surface2 */
    box-shadow: inset 0 -3px #CDD6F4; /* Text */
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #CDD6F4; /* Text */
    background-color: #1E1E2E; /* Base */
}

#clock {
    background-color: #585B70; /* Surface2 */
}

#battery {
    background-color: #585B70; /* Surface2 */
    color: #CDD6F4; /* Text */
}

#battery.charging, #battery.plugged {
    color: #1E1E2E; /* Base */
    background-color: #A6E3A1; /* Green */
}

#battery.critical:not(.charging) {
    background-color: #F38BA8; /* Red */
    color: #CDD6F4; /* Text */
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #CDD6F4; /* Text */
        color: #1E1E2E; /* Base */
    }
}

#power-profiles-daemon {
    padding-right: 10px;
}

#power-profiles-daemon.performance {
    background-color: #F38BA8; /* Red */
    color: #CDD6F4; /* Text */
}

#power-profiles-daemon.balanced {
    background-color: #585B70; /* Surface2 */
    color: #CDD6F4; /* Text */
}

#power-profiles-daemon.power-saver {
    background-color: #A6E3A1; /* Green */
    color: #1E1E2E; /* Base */
}

label:focus {
    background-color: #585B70; /* Surface2 */
}

#cpu {
    background-color: #585B70; /* Surface2 */
    color: #CDD6F4; /* Text */
}

#memory {
    background-color: #585B70; /* Surface2 */
    color: #CDD6F4; /* Text */
}

#disk {
    background-color: #585B70; /* Surface2 */
    color: #CDD6F4; /* Text */
}

#backlight {
    background-color: #585B70; /* Surface2 */
    color: #CDD6F4; /* Text */
}

#network {
    background-color: #585B70; /* Surface2 */
    color: #CDD6F4; /* Text */
}

#network.disconnected {
    background-color: #F38BA8; /* Red */
}

#pulseaudio {
    background-color: #585B70; /* Surface2 */
    color: #CDD6F4; /* Text */
}

#pulseaudio.muted {
    background-color: #313244; /* Surface0 */
    color: #89B4FA; /* Blue */
}

#custom-media {
    background-color: #585B70; /* Surface2 */
    color: #CDD6F4; /* Text */
    min-width: 100px;
}

#temperature {
    background-color: #585B70; /* Surface2 */
    color: #CDD6F4; /* Text */
}

#temperature.critical {
    background-color: #F38BA8; /* Red */
}

#tray {
    color: #CDD6F4; /* Text */
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #F38BA8; /* Red */
}

#idle_inhibitor {
    background-color: #585B70; /* Surface2 */
}

#idle_inhibitor.activated {
    background-color: #CDD6F4; /* Text */
    color: #1E1E2E; /* Base */
}

#mpd {
    background-color: #585B70; /* Surface2 */
    color: #CDD6F4; /* Text */
}

#mpd.disconnected {
    background-color: #F38BA8; /* Red */
}

#mpd.stopped {
    background-color: #313244; /* Surface0 */
}

#mpd.paused {
    background-color: #585B70; /* Surface2 */
}

#language {
    background: #1E1E2E; /* Base */
    background-color: #585B70; /* Surface2 */
    color: #CDD6F4; /* Text */
    padding: 0 5px;
    margin: 0 0px;
    min-width: 20px;
}

#keyboard-state {
    background: #585B70; /* Surface2 */
    color: #CDD6F4; /* Text */
    padding: 0 5px;
    margin: 0 5px;
    min-width: 20px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(205, 214, 244, 0.2); /* Text with opacity */
}

#scratchpad {
    background: rgba(205, 214, 244, 0.2); /* Text with opacity */
}

#scratchpad.empty {
    background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: #CDD6F4; /* Text */
}

#privacy-item.screenshare {
    background-color: #585B70; /* Surface2 */
}

#privacy-item.audio-in {
    background-color: #585B70; /* Surface2 */
}

#privacy-item.audio-out {
    background-color: #585B70; /* Surface2 */
}

#custom-weather {
    margin: 0 0px;
    padding: 0 0px;
    color: #CDD6F4; /* Text */
}

#custom-checkupdates {
    background-color: #585B70;
    padding: 5px;
}
